.paperDiv{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0;
}
.paper{
    cursor: pointer;
    width: 30vw;
    padding: 10px;
    border: 1px solid rgb(248, 252, 27);
    .note{
        width: 100%;
        word-break: break-all;
        hyphens: auto;
    }

}

